/*Jay魔改前置变量 参见 https://blog.jayhrn.com/posts/4151 */
:root {
  --Jay-white: #fff;
  --Jay-white-op: rgba(255, 255, 255, 0.2);
  --Jay-black: #000;
  --Jay-black-op: rgba(0, 0, 0, 0.2);
  --Jay-none: #00000000;
  --Jay-gray: #999999;
  --Jay-gray-op: #9999992b;
  --Jay-vip: #e5a80d;
  --Jay-main: var(--Jay-theme);
  --Jay-main-op: var(--Jay-theme-op);
  --Jay-main-none: var(--Jay-theme-none);
  --Jay-shadow-theme: 0 8px 12px -3px var(--Jay-theme-op);
  --Jay-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
  --Jay-shadow-main: 0 8px 12px -3px var(--Jay-main-op);
  --Jay-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --Jay-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --Jay-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --Jay-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --Jay-shadow-red: 0 8px 12px -3px #ee7d7936;
  --Jay-shadow-green: 0 8px 12px -3px #87ee7936;
  --Jay-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
  --Jay-snackbar-time: 5s;
  --style-border: 1px solid var(--Jay-card-border);
  --style-border-always: 1px solid var(--Jay-card-border);
  --style-border-hover: 1px solid var(--Jay-main);
  --style-border-hover-always: 1px solid var(--Jay-main);
  --style-border-dashed: 1px dashed var(--Jay-theme-op);
}

[data-theme=light] {
  --Jay-theme: #425AEF;
  --Jay-theme-op: #4259ef23;
  --Jay-theme-op-deep: #4259efdd;
  --Jay-theme-none: #4259ef01;
  --Jay-blue: #425AEF;
  --Jay-red: #D8213C;
  --Jay-pink: #FF7C7C;
  --Jay-green: #28a63f;
  --Jay-yellow: #c28b00;
  --Jay-yellow-op: #d99c001a;
  --Jay-orange: #e38100;
  --Jay-fontcolor: #b8b8f1;
  --Jay-background: #f7f9fe;
  --Jay-reverse: #000;
  --Jay-maskbg: rgba(255, 255, 255, 0.6);
  --Jay-maskbgdeep: rgba(255, 255, 255, 0.85);
  --Jay-hovertext: var(--Jay-main);
  --Jay-ahoverbg: #F7F7FA;
  --Jay-lighttext: var(--Jay-main);
  --Jay-secondtext: rgb(136, 136, 233);
  --Jay-scrollbar: rgba(60, 60, 67, 0.4);
  --Jay-card-btn-bg: #edf0f7;
  --Jay-post-blockquote-bg: #fafcff;
  --Jay-post-tabs-bg: #f2f5f8;
  --Jay-secondbg: transparent;
  --Jay-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --Jay-card-bg: #fff;
  --Jay-card-bg-op: var(--Jay-black-op);
  --Jay-card-bg-none: rgba(255, 255, 255, 0);
  --Jay-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --Jay-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --Jay-card-border: #e3e8f7;
  --Jay-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border-forever: 2px solid var(--Jay-main);
}

[data-theme=dark] {
  --Jay-theme: #0084FF;
  --Jay-theme-op: #0084FF23;
  --Jay-theme-op-deep: #0084ffdd;
  --Jay-theme-none: #0084FF00;
  --Jay-blue: #0084FF;
  --Jay-red: #FF3842;
  --Jay-pink: #FF7C7C;
  --Jay-green: #57bd6a;
  --Jay-yellow: #ffc93e;
  --Jay-yellow-op: #ffc93e30;
  --Jay-orange: #ff953e;
  --Jay-fontcolor: #ccb0e4;
  --Jay-background: #18171d;
  --Jay-reverse: #fff;
  --Jay-maskbg: rgba(0, 0, 0, 0.6);
  --Jay-maskbgdeep: rgba(0, 0, 0, 0.85);
  --Jay-hovertext: #0A84FF;
  --Jay-ahoverbg: #fff;
  --Jay-lighttext: #f2b94b;
  --Jay-secondtext: #dbc7e7;
  --Jay-scrollbar: rgba(222, 200, 223, 0.288);
  --Jay-card-btn-bg: #30343f;
  --Jay-post-blockquote-bg: #000;
  --Jay-post-tabs-bg: #121212;
  --Jay-secondbg: transparent;
  --Jay-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --Jay-card-bg: #1d1e22;
  --Jay-card-bg-op: var(--Jay-white-op);
  --Jay-card-bg-none: #1d1b2600;
  --Jay-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --Jay-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --Jay-card-border: #282829;
  --Jay-shadow-border: 0 8px 16px -4px #00000050;
  --style-border-forever: 2px solid var(--Jay-lighttext);
}

@media screen and (max-width: 768px) {
  :root {
      --style-border: 0px solid var(--Jay-card-border);
      --style-border-hover: 0px solid var(--Jay-main)
  }
}

:root {
  --btn-hover-color: rgba(251,114,153);
  --btn-bg: rgba(0,174,236);
}

[data-theme=dark] {
  --global-bg: #191919;
  --font-color: rgba(255, 255, 255, 0.9);
  --hr-border: rgba(255, 255, 255, 0.3);
  --hr-before-color: rgba(255, 255, 255, 0.6);
  --search-bg: #1e1e1e;
  --search-input-color: rgba(255, 255, 255, 0.8);
  --search-result-title: rgba(255, 255, 255, 0.1);
  --preloader-bg: #1e1e1e;
  --preloader-color: rgba(255, 255, 255, 0.6);
  --tab-border-color: #2c2c2c;
  --tab-botton-bg: #2c2c2c;
  --tab-botton-color: #fff;
  --tab-button-hover-bg: #444;
  --tab-button-active-bg: #1e1e1e;
  --card-bg: #1e1e1e;
  --sidebar-bg: #1e1e1e;
  --btn-hover-color: #848484;
  --btn-color: #fff;
  --btn-bg: #3f3f3f;
  --text-bg-hover: #444;
  --light-grey: #fff;
  --white: #fff;
  --text-highlight-color: #fff;
  --blockquote-color: #fff;
  --blockquote-bg: #2c2c2c;
  --reward-pop: #2c2c2c;
  --toc-link-color: rgba(255, 255, 255, 0.6);
  --hl-color: rgba(255, 255, 255, 0.7);
  --hl-bg: #171717;
  --hltools-bg: #1a1a1a;
  --hltools-color: #90a4ae;
  --hlnumber-bg: #171717;
  --hlnumber-color: rgba(255, 255, 255, 0.4);
  --hlscrollbar-bg: #1f1f1f;
  --hlexpand-bg: linear-gradient(180deg, rgba(23, 23, 23, 0.6), rgba(23, 23, 23, 0.9))
}

/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 1.6s linear infinite ;
    animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
#content-inner.layout h1::before {
    color: #ef50a8 ;
    margin-left: -1.55rem;
    font-size: 1.5rem;
    margin-top: -0.27rem;
}
#content-inner.layout h2::before {
    color: #fb7061 ;
    margin-left: -1.35rem;
    font-size: 1.2rem;
    margin-top: -0.15rem;
}
#content-inner.layout h3::before {
    color: #ffbf00 ;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}
#content-inner.layout h4::before {
    color: #a9e000 ;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}
#content-inner.layout h5::before {
    color: #57c850 ;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0.0rem;
}
#content-inner.layout h6::before {
    color: #5ec1e0 ;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0.0rem;
}
#content-inner.layout h1:hover, #content-inner.layout h2:hover, #content-inner.layout h3:hover, #content-inner.layout h4:hover, #content-inner.layout h5:hover, #content-inner.layout h6:hover {
    color: #49b1f5 ;
}
#content-inner.layout h1:hover::before, #content-inner.layout h2:hover::before, #content-inner.layout h3:hover::before, #content-inner.layout h4:hover::before, #content-inner.layout h5:hover::before, #content-inner.layout h6:hover::before {
    color: #49b1f5 ;
    -webkit-animation: ccc 3.2s linear infinite ;
    animation: ccc 3.2s linear infinite ;
}
/* 页面设置icon转动速度调整 */
#rightside_config i.fas.fa-cog.fa-spin {
    animation: fa-spin 5s linear infinite ;
}

/* 归档样式 */
span.card-archive-list-count {
    width: auto;
    text-align: left;
    font-size: 1.5rem;
    line-height: 0.9;
    font-weight: 700;
  }
  .card-archive-list-count-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child {
    width: fit-content;
    margin-left: 4px;
  }
  span.card-archive-list-count {
    width: auto;
    text-align: left;
    font-size: 1.1rem;
    line-height: 0.9;
    font-weight: 700;
  }
  .card-archive-list-date {
    font-size: 14px;
    opacity: 0.6;
  }
  li.card-archive-list-item {
    width: 100%;
    flex: 0 0 48%;
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    color: var(--anzhiyu-white);
    background-color: var(--anzhiyu-theme);
    box-shadow: var(--anzhiyu-shadow-theme);
    border-radius: 8px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  @media screen and (min-width: 1300px) {
    #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
    #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
      transform: scale(1.03);
    }
    #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active,
    #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active {
      transform: scale(0.97);
    }
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a {
    border-radius: 8px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: var(--style-border);
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child {
    width: auto;
    flex: inherit;
  }
  #aside-content .card-archives ul.card-archive-list,
  #aside-content .card-categories ul.card-category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

/*Bilibili关注圆角*/
#card-info-btn {
  border-radius: 7px;
  overflow: hidden;
}

/*底部切换按钮*/
.layout>.recent-posts .pagination>* {
  display: inline-block;
  margin: 0 6px;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}

/*底部圆角*/
#pagination .page-number.current {
    border-radius: 7px;
}

/*文章页卡片圆角*/
.layout > div:first-child:not(.recent-posts) {
  border-radius: 35px;
}

/*文章页信息栏美化*/
#post-info .post-title {
  font-weight: 600; /*字体粗细*/
  font-size: 2.5em; /*字体大小*/
  line-height: 2.2; /*元素高度*/
  letter-spacing: 9px; /*字体间距*/
}

/*信息栏高度调整*/
#page-header.post-bg {
  height: 26rem;
}

/*Web端信息栏适配*/
@media screen and (min-width: 421px){
  #page-header #post-info {
    bottom: 8rem;
}
}

/*Wap端信息栏适配*/
@media screen and (max-width: 420px){
  #page-header #post-info {
    bottom: 2rem;
}
}

/*顶栏美化*/
#nav .site-page {
  font-size: 0.79em; /*字体大小*/
  letter-spacing: 3px; /*字体间距*/
  font-weight: 600; /*字体粗细*/
}

#nav {
  height: 70px; /*顶栏高度调整*/
}
#page-header.nav-fixed #nav {
  top: -70px; /*顶栏调整空缺补齐*/
}

/*文章页目录卡片圆角*/
#aside-content .card-widget {
  border-radius: 20px;
}

/*版权卡片美化*/
#post .post-copyright {
  position: relative;
  margin: 2rem 0 0.5rem;
  padding: 1.5rem 0.8rem;
  border: 8px solid #f6f6f6; /*卡片边框*/
  border-radius: 20px; /*边框圆角*/
  }
  #post .post-copyright:before {
  position: absolute;
  top: -1.9rem; /*C位置*/
  color: #49b1f540; /*C颜色*/
  font-size: 6rem; /*C大小*/
  }

/*目录颜色圆角调整*/
#aside-content #card-toc .toc-content .toc-link.active {
  background: #669cbe;
  border-radius: 5px;
}

/* 头图透明 */
#page-header{
  background: transparent!important;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}

/*伪类遮罩层透明*/
#page-header::before{
  background: transparent!important;
}

/*友链美化*/
#article-container .flink .flink-list {
  text-align: left!important;
}
.flink-item-name, .flink-item-desc {
  color: white!important;
}

/* 代码框 文字居中 */
#article-container figure.highlight .highlight-tools .code-lang {
  left: 50%!important;
  transform: translateX(-50%);
}

/*footer*/
#footer-wrap {
  color: var(--Jay-fontcolor)
}

#footer-wrap a {
  color: var(--Jay-fontcolor);
  height: 44px;
  line-height: 36px
}

#footer-wrap a:hover {
  color: var(--Jay-hovertext);
  background-color: var(--Jay-none)
}

div#footer_deal {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  align-items: center
}

@media screen and (max-width: 768px) {
  img.footer_mini_logo {
      display: none
  }

  div#footer_deal {
      flex-wrap: wrap;
      flex-direction: row
  }
}


a.deal_link {
  display: flex;
  margin: 1rem 27px;
  color: #d4b6e0;
  border-radius: 3rem;
  width: 32px;
  height: 32px;
  background: transparent;
  justify-content: center;
  align-items: center;
  transition: .3s
}

a.deal_link:hover {
  color: rgb(128,127,219);
  background: transparent
}

img.footer_mini_logo {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  cursor: pointer;
  /*filter: drop-shadow(0 12px 12px #ee7d7936);*/
  transition: cubic-bezier(0, 0, 0, 1.29) .5s
}

img.footer_mini_logo:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d
}

@media screen and (min-width: 1300px) {
  img.footer_mini_logo:hover {
      transform: scale(1.03)
  }

  img.footer_mini_logo:active {
      transform: scale(.97)
  }
}

#weblogo {
  align-self: center
}

#footer-wrap a#Jayblog_footerlogo:hover {
  background: var(--Jay-none)
}

.Jayblog_footerlogo_img {
  filter: drop-shadow(0 12px 12px #ee7d7936)
}

.Jayblog_footerlogo_img:hover {
  transform: scale(1.03)
}

#footer {
  background: transparent;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1002
}

@media screen and (max-width: 768px) {
  #footer {
      background: linear-gradient(180deg, var(--Jay-background) 0, var(--Jay-card-bg) 25%);
      margin-top: 0;
      z-index: 999
  }
}

[data-theme=dark] #footer:before, [data-theme=dark] #page-header:before, [data-theme=dark] #web_bg:before {
  background-color: transparent !important
}

@media screen and (max-width: 768px) {
  #letlink {
      flex-direction: column !important;
      text-align: center !important
  }

  #letlogo {
      display: none !important
  }

  #footer-wrap {
      margin-top: 1rem !important
  }
}

.footer-banner-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

#footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 50px 0 50px;
  text-align: left !important;
  max-width: 1200px;
  margin: 0 auto
}

#footer-wrap h1 {
  font-size: 1.5rem;
  margin: 0
}

#footer-wrap h3 {
  padding: 0 12px
}

#footer-wrap p {
  margin: 0 0 0 .2rem;
  font-size: .8rem;
  opacity: .8
}

#footer-wrap i {
  margin-right: .5rem;
  width: 22px;
  font-size: 18px;
  display: inline-block
}

#footer-wrap #letlogo {
  display: flex;
  flex-direction: column;
  /*margin-right: 60px;*/
  align-self: center;
  margin: auto 0;
  max-width: 200px
}

#footer-wrap #letlink .link_group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-width: 180px
}

#footer-wrap #letlink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 1rem 0
}

#weblogo i {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -10px
}

#footer:before {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  content: '' !important;
  z-index: -1
}

#Jay-footer .footer-links {
  display: flex;
  flex-direction: column
}

#Jay-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0 1rem
}

#Jay-footer .footer-item {
  font-size: 1rem;
  line-height: .8rem;
  margin: .38rem 0;
  color: var(--Jay-fontcolor);
  /*margin-right: auto*/
}

#Jay-footer .footer-item:hover {
  color: var(--Jay-theme)
}

#Jay-footer .footer-group {
  min-width: 120px
}

#Jay-footer .footer-title {
  color: var(--Jay-secondtext);
  font-size: 1rem
}

#footer-banner {
  padding: 1rem;
  color: var(--Jay-fontcolor);
  margin-top: 1rem;
  background: var(--Jay-secondbg);
  display: flex;
  overflow: hidden;
  z-index: 1002;
  transition: .3s;
  /*border-top: var(--style-border)*/
}

[data-theme=dark] #footer-banner {
  background: var(--Jay-secondbg)
}

#footer-banner .footer-banner-links {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}

#footer-banner .footer-banner-left {
  display: flex;
  flex-wrap: wrap;
  min-height: 32px
}

#footer-banner .footer-banner-link {
  margin-right: 1rem;
  color: var(--Jay-fontcolor);
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap
}

#footer-banner .footer-banner-link.cc {
  margin-right: 0
}

#footer-banner .footer-banner-link.cc i {
  margin-right: .5rem
}

#footer-banner .footer-banner-link:hover {
  color: var(--Jay-theme)
}

#footer-banner > div > div.footer-banner-left > span {
  margin-right: 1rem
}

#footer-banner .footer-banner-right a:hover {
  color: var(--Jay-lighttext)
}

#footer_deal i {
  font-size: 1.6rem;
  transition: .3s;
  line-height: 1.3rem;
  height: 1.3rem
}
